.webside-header, .bookmarks {
	position: relative;
}


/*Webside header -----------------*/
.webside-header {
	background-color: #ffffff;
	width: 100%;	
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.webside-header-items {
	height: inherit;
	padding: 10px 20px;
}
.webside-header-items-item {
	display: block;
	margin-right: 70px;
}
#websideSearch {
	flex-grow: 1;
	margin-right: 0px;
}
#websideSearch>input {
	width: calc(100% - 10px);
}

/*Logo*/
#logo {
	border: 1px solid #000000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

/*Bookmarks -----------------*/
.bookmarks, .edit {
	border: 1px solid #000000;
	margin-left: 200px;
	margin-bottom: 50px;
	padding: 10px 15px;
}

.bookmarks>h4, .edit>h4 {
	margin: 0px;
	padding-left: 40px;
}
.bookmarks-list {
	padding: 0px;
	list-style-type: none;
}
.bookmarks-list-item {
	padding: 5px;
}
.bookmarks-list-item>span {
	font-style: italic;
}
.bookmarks-list-item>a {
	display: inline-block;
	text-align: right;
	float: right;
}
.bookmarks-list-item:hover, .bookmarks-list-item:hover>button {
	background-color: #f2f2f2;
}
.bookmarks-list-item>button {
	float: right;
}
.bookmarks>button[type="button"] {
	background-color: #5fe25f;	
	border: 1px solid #5fe25f;
	color: #ffffff;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}
.bookmarks>button[type="button"]:hover {
	color: #ffffff;
	background-color: green;
	border-color: green;	
}

/*Edit ---------------------*/
.edit {
	position: fixed;
	background-color: #ffffff;
	width: 500px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	border: none;
	top: 120px;
	z-index: 1;
}
.edit-items {
	padding: 0px;
	list-style-type: none;
}
.edit-items-item>span>h5 {
	color: #cccccc;
	margin-bottom: 10px;
}
.edit-items-item>input {
	width: calc(100% - 10px);
}
form .edit-buttons {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 30px;
}

/*Cancelling button*/
form button[type="button"] {
	background-color: #ffffff;	
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}
form button[type="button"]:hover {
	background-color: #f2f2f2;	
}

/*Submitting button*/
form button[type="submit"] {
	background-color: #5fe25f;	
	border: 1px solid #5fe25f;
	color: #ffffff;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}
form button[type="submit"]:hover {
	background-color: green;
	border-color: green;	
}

/*Pagination*/
.pagination {
	-webkit-justify-content: center !important;
	justify-content: center !important;
	padding: 0px;
}
.pagination-item {
	display: inline-block;
	color: blue;
	border: 1px solid blue;
	border-radius: 4px;
	margin: 10px;
	text-align: center;
}
ul li .pagination-item-button {
	color: blue !important;
	padding: 5px 10px;
	width: 40px;
	border-radius: 4px;
}
.pagination-selected+button {
	background-color: lightblue !important;
}