<!-- Fog -->
<div class="fog" ng-show="isEditVisible"></div>

<!-- Header -->
<header class="webside-header">
	<ul class="webside-header-items row">
		<li class="webside-header-items-item"><h3>Webside page part</h3></li>
		<li id="logo" class="webside-header-items-item">LOGO</li>
		<li id="websideSearch" class="webside-header-items-item">
			<input type="text" placeholder="Search" ng-model="bookmarkSearch">
		</li>
	</ul>
</header>

<!-- Pagination -->
<ul class="pagination row-one">
	<li class="pagination-item" ng-repeat="item in pagination.items">
		<span ng-if="paginationSelected == $index" class="pagination-selected"></span>
		<button class="pagination-item-button" type="button" ng-click="paginationItemSelect($index)">{{item.view}}</button>
	</li>
</ul>

<!-- Bookmarks -->
<section class="bookmarks">
	<h4>Bookmark list</h4>
	<ul class="bookmarks-list">
		<li class="bookmarks-list-item" ng-repeat="item in bookmarks.items | paginationFilter: pagination.items[paginationSelected]: bookmarkSearch">
			<span>{{item.title}}</span>
			<button type="button" ng-click="formPreparation($index); $parent.isEditVisible = true; $parent.isEditing = true;">Edit</a>
		</li>
	</ul>
	<button type="button" ng-click="formPreparation(); isEditVisible = true; isEditing = false;">Create bookmark</button>
</section>

<!-- Pagination -->
<ul class="pagination row-one">
	<li class="pagination-item" ng-repeat="item in pagination.items">
		<span ng-if="paginationSelected == $index" class="pagination-selected"></span>
		<button class="pagination-item-button" type="button" ng-click="paginationItemSelect($index)">{{item.view}}</button>
	</li>
</ul>


<!-- Edit or create bookmark -->
<form class="edit" ng-show="isEditVisible">
	<h4 ng-if="isEditing">Edit bookmark</h4>
	<h4 ng-if="!isEditing">Create bookmark</h4>
	<ul class="edit-items">
		<li class="edit-items-item">
			<span><h5>Bookmark title</h5></span>
			<input ng-if="!isEditing" type="text" placeholder="Type bookmark" ng-model="form.title" required>
			<input ng-if="isEditing" type="text" ng-model="formEditing.title" required>
		</li>
		<li class="edit-items-item">
			<span><h5>Bookmark URL</h5></span>
			<input ng-if="!isEditing" type="text" placeholder="Type URL" ng-model="form.url" required>
			<input ng-if="isEditing" type="text" ng-model="formEditing.url" required>
		</li>
		<li class="edit-items-item edit-buttons row-one">
			<button type="button" ng-click="validationMessagesClear(); isEditVisible = false;">CANCEL</button>
			<button type="submit" ng-click="formSubmit(isEditing)">SAVE</button>
		</li>
	</ul>
</form>

<div ng-include="'modules/validationPart/validation.html'"></div>